# Copy to terraform.tfvars and tweak if needed. All values have sane defaults.

# subscription_id     = "59c0dcd7-abab-419f-808d-e6b1c11aa6ef"
# location            = "japaneast"   # allowed: malaysiawest, japanwest, centralindia, eastasia, japaneast
# resource_group_name = "airflow-aci-poc-rg"
# airflow_image       = "apache/airflow:2.9.3"
# auto_stop_hours     = 4
