AIRFLOW_UID=50000

CT1_AIRFLOW_USER=airflow
CT1_AIRFLOW_PASSWORD=airflow
CT2_AIRFLOW_URL=http://ct2-webserver:8080
CT2_AIRFLOW_USER=airflow
CT2_AIRFLOW_PASSWORD=airflow

CT1_OUTPUT_DIR=/opt/airflow/shared/ct1-out
CT1_DEFAULT_SOURCE_PATH=/opt/airflow/shared/ct1-out/Mock_latest.txt
CT2_DAG_ID=ct2_pipeline

CT2_INPUT_PATH=/opt/airflow/shared/ct2-in/mock.txt
CT2_REVERSED_OUTPUT_PATH=/opt/airflow/shared/ct2-out/mock_reversed.txt

REQUEST_TIMEOUT_SECONDS=30
